# Topic: print()

1) Using the python print function print any string value, integer value, boolean value, float value in single print command

In [2]:
print ("hello", 42, True, 3.14)

hello 42 True 3.14

2) Using the python print function print hyphon(-) separated any string value, integer value, boolean value, float value in single print command

In [41]:
print (str("hello")+"-"+str(42)+"-"+str(True)+"-"+str(3.14))
#or
print ("{}-{}-{}-{}".format("Hello", 42,True,3.14))
#or
print (f"Hello- {42}-{True}-{3.14}")

hello-42-True-3.14
Hello-42-True-3.14
Hello- 42-True-3.14

3) Using the python print function print any string value, integer value, boolean value, float value in separate print command.
But every value must be space separated and in single line

In [3]:
print ("Hello", end=' ')
print (42, end =' ')
print (True, end=' ')
print (3.14)

Hello 42 True 3.14

4) Can a python print function take no value to print???

In [43]:
print ()# type your answer here

# TOPIC :Variables

5) One of my friends name is Mr. Ahmed. He is 30 years old.  He is a lawer by profession. He has done his bachelors in law in the year 2005. He is working with a reputable law firm 'The Himalya Associates' in Karachi since 2015.
He is a handsome lawer with height of 5.10 feets and weight 70600g. His monthly income is Rs. 200k PKR.

Note: Create variables from above text and also assign values from the text.

In [44]:
name = "Mr Ahmad"
age = 30
profession = "laywer"
qualification = "bechlor in law"
graduation_year = 2005
company = "The Himalaya Associates"
city = "karachi"
joining_year = 2015
height = 5.10 # in feet
weight = 70600 # in grams
monthly_income = 200000 #in PKR

print ("Name:",name)
print ("Age:",age)
print ("Profession:",profession)
print ("Qualificatioon:",qualification)
print ("Graduation_Year:",graduation_year)
print ("Company:",company)
print ("City:",city)
print ("Joining_Year:",joining_year)
print ("Height:",height)
print ("Weight:",weight)
print ("Monthly_Income:",monthly_income)

Name: Mr Ahmad
Age: 30
Profession: laywer
Qualificatioon: bechlor in law
Graduation_Year: 2005
Company: The Himalaya Associates
City: karachi
Joining_Year: 2015
Height: 5.1
Weight: 70600
Monthly_Income: 200000

6)How many years has been to Mr. Ahmed after his bachelors degree? Create a variable that hold current year value and then subtract it from his passout year

In [45]:
current_year = 2024
graduation_year = 2005
years_after_graduation = current_year-graduation_year
print ("Years after graduation:", years_after_graduation)

Years after graduation: 19

7) How many years has Mr. Ahmed been working with law firm 'The Himalya Associates'. Create necesary variables and print the correct number of years in working in the firm

In [46]:
joining_year= 2015
current_year = 2024
years_with_firm = current_year - joining_year

print ("Years with The Himalaya Associate:", years_with_firm)

Years with The Himalaya Associate: 9

8)Convert the monthly income of Mr. Ahmed in dollars.  Create necesary variables and print the income in dollars.

In [47]:
monthly_income_PKR = 200000
exchange_rate = 278
monthly_income_USD = monthly_income_PKR/exchange_rate

print ("Monthly income in USD:", monthly_income_USD)

Monthly income in USD: 719.4244604316547

9) Check if the income in dollars is a float or integer value. if it is float, re-write the code so that income gets converted in integer. print the income in integer type value

In [48]:
income = 719.4244604316547
if  isinstance (income,float):
    income = int (round(income))

print (income)
print (type(income))

719
<class 'int'>

10) Print the type of Mr. Ahmed's weight. Convert the weight of Mr. Ahmed in kg so that weight must be a integer value.

In [49]:

print (type(weight))

weight_kg = int (weight/1000)
print ("Weight in kg:", weight_kg)
print ("Type of weight:",type(weight_kg))

<class 'int'>
Weight in kg: 70
Type of weight: <class 'int'>

print the year of birth of Mr. Ahmed.

In [50]:

#year of birth

birth_year = graduation_year - age
print ("Year of birth:",birth_year)#type your code here

Year of birth: 1975

12) Can Rs. 100 be divided equally among 6 students? 
HINT: % operator

In [51]:
amount = 100
number_of_students = 6
if amount % number_of_students ==0:
    print ("Rs 100 can be divided eqaully among 6 students.")
else:
    
    print ("Rs 100 can not be divided eqaully among 6 students.")

Rs 100 can not be divided eqaully among 6 students.

# Topic: User input

13) Take students detail as user input on console. Like 
name 
father name 
contact
email
Course
Address
Days 
Timings 
And print a formatted id card of student 


                                 Saylani Mass IT Training Program
                                 _________________________________
                                         Bahdurabad Campus (HO)
                    Student Name: Babar Shoukat
                    Father Name : Shoukat Ali
                    Course      : Data Science and Artificial Intelligence 
                    Days        : Monday & Thursday 
                    Timings     : 7pm - 09pm
                    Email       : mb4383886@gmail.com
                    Contact     : 03046626007
                    Address     : House no 587 hanifabad sec 10 orangi town karachi
                    
                    
                    Saylani Welfare International Trust Head Office (Bahadurabad Karachi)

# Topic : Operators and Expression with ambiguity

14 ) What is the output of print(2 * 3 ** 3 * 4)

a) 216
b )864
a

15 ) What is the output of the expression  print(-18 // 4)
a) -4
b)  4
c) -5
d)  5 
c

16) 
x = 6
y = 2
print(x ** y)
print(x // y)


a) 66
   0
    
b) 36
   0
    
c) 66
    3
    
d)  36
    3
    d

17)
What is the output of print(10 - 4 * 2)

 a) 2
 
 
 b) 12
 a

18 ) What is the output of print(2%6)

 a) ValueError
 b) 0.33
 c) 2
 c

19) What is the value of the following Python Expression

  print(36 / 4)

 a) 9.0
 b) 9
 a

20 ) In the Python statement x = a + 5 - b:

a and b are ________
a + 5 - b is ________


a) operators, a statement


b) operands, an expression

c) terms, a group


d) operands, an equation
b

21) Should you use the == operator to determine whether objects of type float are equal?


Sure! Go for it. # True


Nope, not a good idea.

22 ) What is the value of the expression 1 + 2 ** 3 * 4?

a) 33


b) 36


c) 108


d) 4097
a