# Todays' Agenda 
      - print()
      - type of values 
      - variables
      - Operators

# Print()
     - print() is python function.
     - it prints anything(valid) provided on the console output.

In [1]:
print("Nasir Hussain")

Nasir Hussain

In [2]:
print("Nasir Hussain", "Sohail")

Nasir Hussain Sohail

In [3]:
print(100)

100

In [4]:
print(1230)

1230

In [5]:
print(12,3,45,6,7)

12 3 45 6 7

In [6]:
print(12.6)

12.6

What we are supplying to print function are values. 
Question: how many type of values

Values : Data >>>>> data types


 Text >>>>> String >> "i am string" >>> str
 Number >>>> 
         - Whole Numbers        >>>>> Integers   >>>>  int
         - Decimal Numbers      >>>>> Floats     >>>>  float 
Boolean >>>> Yes/NO >>>> True/False   >>>>> bool

In [8]:
print("SMIT", 100, 500.5, True)

SMIT 100 500.5 True

In [9]:
type("SMIT")

str

In [10]:
type(234)

int

In [11]:
type(45.6)

float

In [12]:
type(False)

bool

In [20]:
print("Ahsun","Nasir", sep="")

AhsunNasir

In [23]:
print("Hello Python", end="\n\n\n\n\n\n")
print("Hello Boys")

Hello Python





Hello Boys

In [24]:
print("Wow wew are now learning Python
      Thank you SMIT")

SyntaxError: unterminated string literal (detected at line 1) (1514326339.py, line 1)

In [26]:
print("Wow we \nare now learning Python.\nThank you SMIT")

Wow we
are now learning Python.
Thank you SMIT

# String kese kese bana sakte hen

In [27]:
"I am double quote string"

'I am double quote string'

In [28]:
'I am single quote string'

'I am single quote string'

In [29]:
"""I m a tripple quote string"""

'I m a tripple quote string'

In [30]:
'''I m a single tripple quote string'''

'I m a single tripple quote string'

       SMIT
   Name: Nasir
   Course: Python
   Days: Tuesday and Thursday
   Campus: HO-Bahadurabad
   Time  : 7-9

In [38]:
print("\t\tSMIT\n \tName: Nasir\n\tCourse:Python\n\tDays:Tuesday and Thursday\n\tCampus: HO-Bahadurabad\n\tTime  : 7-9")

		SMIT
 	Name: Nasir
	Course:Python
	Days:Tuesday and Thursday
	Campus: HO-Bahadurabad
	Time  : 7-9

In [39]:
print("""
           SMIT
   Name: Nasir
   Course: Python
   Days: Tuesday and Thursday
   Campus: HO-Bahadurabad
   Time  : 7-9
""")

           SMIT
   Name: Nasir
   Course: Python
   Days: Tuesday and Thursday
   Campus: HO-Bahadurabad
   Time  : 7-9

# Variables
     - Variables are identifiers
     - They are containers

In [51]:
student = "Ahsun Khan"

students >>>>> identifier
               variable name
               contianer name
=       >>>>>  operator (assignment operator)
"Ahsun Khan"  >>>> value >>>> string type


A string type value "Ahsun Khan" is assigned in variable students

In [41]:
print(student)

Ahsun Khan

In [42]:
id(student)

2576283936688

In [49]:
student = "Nasir Hussain"

In [44]:
print(student)

Nasir Hussain

In [50]:
type(student)
id(student)

2576284407472

In [46]:
student = 123456

In [47]:
print(student)

123456

In [48]:
id(student)

2576287064144

In [52]:
number = 100

In [53]:
is_present = False

In [54]:
percentage = 78.8

# Variable Naming Legal and Illegal

 - python used words (reserved words) are not allowed as variable name
 - there can be no space in variable name
 - variable name can not be started with a number
 - Special character are not allowed (@,#,$,%,^,&,)

List of Reserved Words : 

False	def	if	raise
None	del	import	return
True	elif	in	try
and	else	is	while
as	except	lambda	with
assert	finally	nonlocal	yield
break	for	not
class	form	or
continue	global	pass

In [57]:
global = 123

SyntaxError: invalid syntax (3876829238.py, line 1)

In [58]:
father name = "Khalil Bhai"

SyntaxError: invalid syntax (186596501.py, line 1)

In [59]:
1stprize = "nasir"

SyntaxError: invalid decimal literal (3060037044.py, line 1)

In [60]:
n@me = "Nasir"

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (4128869008.py, line 1)

In [62]:
father_name = "Khalil Bhai"
fatherName = "Khalil Bhai"
fathername = "Khalil Bhai"

In [63]:
my_first_book_on_coding_is_python_for_kids = "Programming for kids"

In [64]:
myFirstBookOnCodingIsPythonForKids="Programming for kids"

# Operators
          Arithmetic  
                   - Addition(+)
                   - Subtraction(-)
                   - Multiplication (*)
                   - Float Division (/)
                   - Integer Division(//)
                   - Power (**)
                   - Remainder (%)
                   - Assignment (=)

In [66]:
12 + 4

16

In [67]:
1234- 678

556

In [68]:
12 *6

72

In [70]:
12/5

2.4

In [71]:
12//5

2

In [72]:
2**3

8

In [75]:
num1 = 23
num2 = 34

In [76]:
num1 + num2

57

In [77]:
20/2

10.0

In [78]:
20%2

0

# Class3(28May2024)

## Operator Ambiguity: Solving Expression

# Comparision Operators: 
     - == (equal to)
     - != (not equal to)
     - > greater than
     - < less than
     - >=
     - <=
     - in 
     - and 
     - or 
     - not

In [1]:
not(True)

False

In [3]:
"i" in "Pakistan"

True

In [4]:
import math

In [7]:
math.floor(12.9)

12

In [8]:
math.ceil(12.0001)

13

In [10]:
12//5

2

In [11]:
3 != 3 or 5 > 4

True

In [12]:
10 == 10 and 5 > 6

False

In [13]:
12/3

4.0

In [15]:
12.0//5

2.0

In [16]:
8 / 2 + 2 * 3

10.0

In [17]:
10 > 5 < 2

False

In [18]:
3 * "Hello"

'HelloHelloHello'

In [19]:
-5 // 2

-3

In [20]:
8 % 3 + 2 ** 2 * (2 + 2)

18

In [22]:
(12+30)/5

8.4

In [23]:
(3 + 2) * 4 / 2 ** 2

5.0

In [24]:
x = 5
y = x * 2 if x < 10 else x / 2
print(y)

10

In [29]:
x =int(input("Please enter a value for x"))
y = x * 2 if x < 10 else x / 2
print(y)

Please enter a value for x2
4

In [30]:
round(2.564, 2)

2.56

# Truthy

In [34]:
12 or 20 or 3 or 5 or 678

12

In [33]:
12 and 20 and 23 and 1 and 5

5

# Conditional Statments / Control Flow
  - if else
  - if elif else

In [37]:
a =10
b= 20 

if a < b:
    print("Khana Pakana hy")
    print("Python Parhni hy")

Khana Pakana hy
Python Parhni hy

In [38]:
a =100
b= 20 

if a < b:
    print("Khana Pakana hy")
    print("Python Parhni hy")

In [39]:
a =10
b= 20 

if a < b:
    print("Khana Pakana hy")
    print("Python Parhni hy")
else:
    print("Sojana")

Khana Pakana hy
Python Parhni hy

In [40]:
a =101
b= 20 

if a < b:
    print("Khana Pakana hy")
    print("Python Parhni hy")
else:
    print("Sojana")

Sojana

In [41]:
price = input("Anday kia hisab hen")

if price <20:
    print("Ek darjan dedo")
else:
    print("Ek dedo")

Anday kia hisab hen40

TypeError: '<' not supported between instances of 'str' and 'int'

In [44]:
price = input("Anday kia hisab hen")

print(type(price))
price

Anday kia hisab hen56
<class 'str'>

'56'

In [43]:
int("45")

45

In [46]:
price = int(input("Anday kia hisab hen"))
if price <20:
    print("Ek darjan dedo")
else:
    print("Ek dedo")

Anday kia hisab hen10
Ek darjan dedo

In [48]:
marks = int(input("Enter your marks"))

if marks<50:
    print("Fail")
else:
    print("Pass")

Enter your marks45
Fail

In [50]:
price = int(input("Tamater kia kilo hen"))
dahi_price = int(input("dahi kka hisab hy"))

if price <100:
    print("2 Kilo dedo")
elif dahi_price <100:
    print("1 kilo dahi dedo")
else:
    print("Wapas ajana")

Tamater kia kilo hen200
dahi kka hisab hy80
1 kilo dahi dedo

# Class4(30May2024)

In [2]:
purchase_amt = int(input("Enter purchase amt"))

if purchase_amt>=10000:
    print("You got 10% discount")
else:
    print("You 5% discount")

Enter purchase amt2000
You 5% discount

In [14]:
cost_shoes = float(input('Enter shoes price'))
cost_glasses = float(input('Enter glasses price'))
cost_shirt = float(input('Enter shirt price'))
cost_watch = float(input('Enter watch price'))
cost_cap = float(input('Enter cap price'))


total  = cost_cap+cost_glasses+cost_shirt+cost_watch+cost_shoes
# discount = 0

if total>=15000:
    discount=total*0.15
elif total>=10000:
    discount=total*0.10
elif total>=5000:
    discount=total*0.05
elif total>=1000:
    discount=total*.01
else:
    print("You are not eligible for discount")
    
print(f"""
            Thank you for shopping!!!
            
            Total: {total}
            Discount: {discount}
            Payable: {total-discount}

 """)

Enter shoes price1
Enter glasses price2
Enter shirt price3
Enter watch price4
Enter cap price5
You are not eligible for discount

NameError: name 'discount' is not defined

In [12]:
del discount

In [13]:
discount

NameError: name 'discount' is not defined

In [5]:
int('12')

12

In [6]:
int('12.5')

ValueError: invalid literal for int() with base 10: '12.5'

In [7]:
float('12.5')

12.5

# String : 
    - Every entity in Python is object.
    - An object belongs to a class
    - Class contains methods and properties

In [16]:
name = "Ahsun Khan"
print(type(name))

# it is an object of string class

<class 'str'>

In [17]:
name.capitalize()

'Ahsun khan'

In [18]:
name.upper()

'AHSUN KHAN'

In [19]:
name.lower()

'ahsun khan'

In [20]:
name = 100

### string contenation( join)

In [36]:
first_name = "nasir"
last_name = 'hussain'

age  = 20

In [31]:
first_name

'nasir'

In [32]:
last_name

'hussain'

In [33]:
first_name+last_name

'nasirhussain'

In [38]:
first_name+" "+last_name + str(age)

'nasir hussain20'

### My name is Nasir Hussain, And I am 50 years old.

In [41]:
print("My name is "+first_name.capitalize()+" "+last_name.capitalize()+", And I am "+str(age)+" years old.")

My name is Nasir Hussain, And I am 20 years old.

# String Format

In [47]:
print("My name is {} {}, And I am {} years old".format(first_name.capitalize(), last_name.capitalize(), age))

My name is Nasir Hussain, And I am 20 years old

In [46]:
"My name is {} {}, And I am {} years old".format(first_name.capitalize(), last_name.capitalize(), age)

'My name is Nasir Hussain, And I am 20 years old'

In [50]:
print("My name is {first_name.capitalize()} {last_name.capitalize()}, And I am {age} years old")

My name is {first_name.capitalize()} {last_name.capitalize()}, And I am {age} years old

In [51]:
name= input("Please tell me your name:    ")
age = int(input("Tell me your age    :    "))
course= input("Tell me your course   :    ")
campus = input("Input tell me your campus: ")
st_id  = input("Tell mr your student id:   ")


print(f"""
           Saylani Mass IT Training Programm
           __________________________________
           
                    Student Identity Card
                    =====================
            Student Name:  {name} 
            Course      :  {course}
            Student_Id  :  {st_id}
            Campus      :  {campus}
            Age         :  {age}
            
            
            Note: Kisi ko mile to karebi letter box me dale den       
                    





""")

Please tell me your name:    Ahsun Ali
Tell me your age    :    21
Tell me your course   :    Python Programming
Input tell me your campus: Head Office
Tell mr your student id:   12345

           Saylani Mass IT Training Programm
           __________________________________

                    Student Identity Card
                    =====================
            Student Name:  Ahsun Ali
            Course      :  Python Programming
            Student_Id  :  12345
            Campus      :  Head Office
            Age         :  21


            Note: Kisi ko mile to karebi letter box me dale den

In [57]:
text = "My name is Nasir Hussain, And I am 20 years old."

In [58]:
text.capitalize()

'My name is nasir hussain, and i am 20 years old.'

In [59]:
text.count("a")

5

In [56]:
text.count("am")

2

In [61]:
text.endswith("d.")

True

In [62]:
text.startswith('m')

False

In [64]:
print(campus)

Head Office

In [65]:
campus=="Head Office"

False

In [66]:
campus.lstrip()

'Head Office '

In [67]:
campus.rstrip()

'Head Office'

In [71]:
campus.strip()

'Head Office'

# String is Immutable: unchangeable

In [69]:
campus

'Head Office '

In [76]:
"a".isalnum()

True